<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <title>Добавление новой одежды</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<form th:action="${'/odejda/add'}" method="post">
  <label>
    тип
    <input type="text" name="tip" placeholder="тип одежды">
  </label>
  <br>
  <label>
    готвыпуска
    <input type="date" name="gotvipuska" placeholder="гот создания">
  </label>
  <br>
  <label>
    новая колекция
    <input type="checkbox" name="nowlineka" placeholder="новая колекция">
  </label>
  <br>
  <label>
    партия
    <input type="number" name="partia" placeholder="партия">
  </label>
  <br><label>
  размер
  <input type="number" step="0.1" name="razmer" placeholder="размер">
</label>
  <br>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded" type="submit">Добавить автора</button>
</form>
</body>
</html>